* {
    box-sizing: border-box;
  }
  
  body {
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    color: #222;
    background-color: #f5f5f5;
  }
  
main {
  margin-left: 30px;
  flex: 1;
}


  h1 {
    font-weight: bold;
    
  }
  
  p {
    max-width: 900px;
  }
  
  form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #87D37C;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 5px;
  }
  
  input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
  }
  
  input[type=submit] {
    font-size: 16px;
    border-radius: 3px;
    background-color: #E4F1FE;
    border: 1px solid grey;
    box-shadow: 2px 2px #999;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #FFFEC4;
  }
  
  code {
    font-family: monospace;
    font-size: 1.2em;
    background-color: #FFFEC4;
    padding: 2px;
  }

/* Add a black background color to the top navigation */
.nav {
  background-color: #949dd1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #04AA6D;
  color: white;
}

footer {
  background-color: #949dd1;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}

footer p {
  text-align: center;
  color: white;
  max-width: 4000px;
}

h3 {
    border-bottom: 1px solid #949dd1;
}



li span {
    color: silver;
}

li {
    line-height: 1.6;
}